@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --color-primary: #e63b68;
  --color-accent: #33a0dd;
}

@keyframes toastTimer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-timer {
  animation: toastTimer linear forwards;
}
